main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
}

iframe {
  flex-grow: 1;
}

h1 {
  color: royalblue
}

.form {
  border: var(--bs-border-width) solid var(--bs-border-color);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: .375rem;
}